body {
    background-color: gray;
}


#redColor {
    width: 50px;
    height: 50px;
}

#blueColor {
    width: 50px;
    height: 50px;
}

#blackColor {
    width: 50px;
    height: 50px;
}

#circleOne {
    width: 10px;
    height: 10px;
    position: relative;
    right: -21px;
}

#circleTwo {
    width: 20px;
    height: 20px;
    position: relative;
    right: -16px;
}

#circleThree {
    width: 25px;
    height: 25px;
    position: relative;
    right: -14px;
}

#lastik {
    width: 60px;
    height: 60px;
}

#range {
    margin-top: 30px;
    transform: rotate(300grad);
    width: 65px;
    position: relative;
    right: 14px;
}